* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


body {
    background-color: #000000;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.get-started-btn {
    background-color: #373737;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.get-started-btn:hover{
    background-color: #ffffff;
    color: #000000;
}

.hero-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    /* background: radial-gradient(ellipse at bottom, #0a0a0a 0%, #000000 100%); */
    background-size: cover; 
    background-image: url(images/Black\ Minimalist\ Learn\ and\ Grow\ Desktop\ Wallpaper.png);
    padding-bottom: 220px;

}

.hero-content {
    padding-top: 130px;
    max-width: 800px;
    
}

.badge {
    background-color: #2f2f2f;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    margin-bottom: 15px;
}

.badge a {
    color: #f4f4ff;
    text-decoration: none;
    font-weight: 600;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-cta {
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 30px;
    color: rgb(46, 45, 45);
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.hero-cta:hover{
    background-color: #4b4b4b;
    color: #ffffff;

}

.link-text {
    font-size: 1rem;
    margin-top: 20px;
    color: #828282;
}

.link-text a {
    color: #ffffff;
    text-decoration: none;
}

.creators {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.creators img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 -5px;
}

.creators span {
    font-size: 1rem;
    margin-left: 15px;
    color: #a0a0a0;
}
.features-section {
    padding: 50px;
    background-image: linear-gradient(to right,rgb(0, 0, 0), rgb(22, 22, 22));
    color: white;
    font-family: 'Poppins', sans-serif;
}

.features-section h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
}

.feature-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    height: 100vh;
}

.rounded-corners{
    border-radius: 30px !important;
}

.feature-item.left .feature-text {
    order: 1;
}

.feature-item.left .feature-image {
    order: 2;
}

.feature-item.right .feature-text {
    order: 2;
}

.feature-item.right .feature-image {
    order: 1;
}

.feature-text {
    flex: 1;
    padding: 20px;
    max-width: 50%;
}

.feature-text h3 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.feature-text p {
    font-size: 1rem;
    color: gray;
}

.highlight {
    color: #4c5fd5;
}

.feature-image {
    flex: 1;
    text-align: center;
    max-width: 50%;
}

.feature-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.manage-publicize {
    text-align: center;
    padding: 50px 0;
}

.manage-publicize h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.manage-publicize p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: gray;
}

.cta-button {
    padding: 15px 40px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover{
    background-color:#4b4b4b;
    color: #ffffff;

}

footer {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 30px;
    font-size: px;
    color: grey;
}